body {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

form {
    display: grid;
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 200px;
    background-color: white;
}

h2 {
    display: flex;
    justify-content: center;
}

input {
    height: 30px;
    border-radius: 10px;
    margin-top: 0px;
    padding-left: 10px;
}

label {
    margin-bottom: 0px;
}

button {
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: red;
    transition: 0.2s;
}

#error {
    text-align: center;
    color: red;
}